/**********************************************
* Custom CSS for Devon Beets Design
* Many thanks to Rochelle Lewis @rlewis37@cnm.edu
* @author devon@devonbeetsdesign.com
/*********************************************/

/**********************************************
* Global Styles
/*********************************************/
html,
body {
	background-size: cover;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active,
button,
button:link,
button:visited,
button:hover,
button:active {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #ED7B09;
}

.container {
	width: 90%;
}

h1 {
	padding-bottom: 7.5rem;
	padding-top: 7.5rem;
	margin-bottom: 5rem;
	margin-top: 5rem;
	font-family: 'Roboto', sans-serif;
}

/**********************************************
* Utility Styles
/*********************************************/

/* sets a larger welcome area height on sm, md, and lg breakpoints */
@media only screen and (min-width: 768px) {
	#introduction {
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
}

/**********************************************
* Welcome Section Styles
/*********************************************/
/* this adds padding to compensate for the fixed navbar on mobile */
#introduction {
	padding-top: 70px;
	background-image: url(../images/Colored-Clouds.jpg);
	background-size: cover;
}

/* overrides bootstrap default styles */
#introduction .jumbotron {
	border-radius: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	background-color: rgba(238,247,200,0.5);
	color: black;
}

/* set text-shadow on the <h1> in the jumbotron */
#introduction .jumbotron h1 {
	text-shadow: 1px 1px 0 grey;
	padding: 0;
}


/**********************************************
* Header and Navbar Styles
/*********************************************/
/* removes the margin-bottom that Bootstrap sets by default */
nav.navbar {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.navbar-default {
	background-color: #019FDC;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #019FDC;
}

.navbar-default .navbar-brand {
	color: #019FDC;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #ED7B09;
}

.navbar-inverse .navbar-brand {
	color: white;
}

/* navbar text links colors */
.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #ED7B09;
}

/* override Bootstrap default .navbar-inverse styles */
.navbar-inverse {
	background: none;
	border-bottom: none;
}

/**********************************************
* Content Sections Styles
/*********************************************/

.about-me-title {
	background-color: #019FDC;
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.resume-title {
	background-color: #019FDC;
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.contact-title {
	background-color: #019FDC;
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.well {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.g-recaptcha {
	padding-top: 15px;
}

/**********************************************
* Footer Styles
/*********************************************/

footer {
	background-color: #0033EE;
	color: white;
}

a {
	color: #a7f8ff;
	text-decoration: none;
}