RewriteEngine on
RewriteCond %{HTTP_HOST} ^devonbeetsdesign.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.devonbeetsdesign.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]